@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  color: #fff;
}

a {
  color: rgb(255, 39, 39);
}

span {
  color: rgb(255, 39, 39);
}

section {
  box-sizing: border-box;
  padding: 60px 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: start;
}
@media only screen and (min-width: 576px) {
  section {
    box-sizing: border-box;
    padding: 85px 0;
  }
}

.favicon {
  border-radius: 50%;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #121212;
}
@media only screen and (min-width: 576px) {
  header {
    height: 70px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
@media only screen and (min-width: 576px) {
  .nav {
    height: 70px;
  }
}

.logo {
  color: #fff;
  font-size: min(7vw, 20px);
  font-weight: 700;
  letter-spacing: 1px;
  width: 80%;
  line-height: 50px;
  padding-left: 5vw;
}
@media only screen and (min-width: 576px) {
  .logo {
    color: #fff;
    font-size: max(3vw, 18px);
    font-weight: 700;
    letter-spacing: 0.2vw;
    padding-left: 2vw;
    width: 31%;
    line-height: 70px;
  }
}

.navlist {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  position: fixed;
  padding: 40px 0;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: auto;
  right: -100%;
  transition: left 0.3s;
}
@media only screen and (min-width: 576px) {
  .navlist {
    position: relative;
    flex-direction: row;
    padding: 0 4vw;
    width: 70%;
    height: 70px;
    right: 0;
    top: 0;
    background-color: #121212;
  }
}
.navlist a {
  color: #ccc;
  font-size: max(1.5vw, 10px);
  font-weight: 500;
  transition: all 0.45s ease;
}
.navlist a:hover {
  color: rgb(255, 39, 39);
  width: auto;
}
.navlist a:active {
  color: rgb(241, 241, 9);
  transition: all 0s;
}

.toggleButton {
  display: inline-block;
  background: none;
  border: none;
  width: 20px;
  margin-right: 30px;
}
@media only screen and (min-width: 576px) {
  .toggleButton {
    display: none;
  }
}

#menu-icon {
  font-size: 35px;
  width: 5vw;
  color: red;
  z-index: 1000;
  cursor: pointer;
  margin-right: 10%;
}

.navlist_visible {
  left: 0;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  height: 80vh;
  width: 90vw;
  gap: 0.1rem;
  margin-top: -3vh;
}
@media only screen and (min-width: 576px) {
  .home-text {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    height: 300px;
    width: 60vw;
    min-width: 500px;
    gap: 1rem;
  }
}
.home-text .home-small {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  line-height: 0.7;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small {
    align-items: flex-start;
  }
}
.home-text .home-small .hello {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: rgb(255, 39, 39);
  color: #fff;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small .hello {
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    background: rgb(255, 39, 39);
    color: #fff;
  }
}
.home-text .home-small .im {
  display: inline-block;
  color: #ccc;
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small .im {
    font-size: 25px;
  }
}
.home-text .home-small h1 {
  font-size: 30px;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    max-width: 100%;
  }
}
.home-text .home-small h3 {
  font-size: 1rem;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
  }
}
.home-text .home-small span {
  font-size: 1rem;
}
@media only screen and (min-width: 576px) {
  .home-text .home-small span {
    font-size: 2rem;
    font-weight: 700;
    max-width: 100%;
  }
}
.home-text img {
  height: 40vh;
  width: auto;
  border-radius: 10px;
}
@media only screen and (min-width: 576px) {
  .home-text img {
    height: 100%;
    width: auto;
    border-radius: 20px;
  }
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: rgb(255, 39, 39);
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.about {
  position: relative;
  height: 100vh;
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  height: 80vh;
  width: 45vw;
  min-width: 190px;
  gap: 0.1rem;
  margin-top: -3vh;
}
@media only screen and (min-width: 576px) {
  .about-text {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    height: 300px;
    width: 60vw;
    min-width: 500px;
    gap: 1rem;
  }
}

.about-img {
  display: none;
}
@media only screen and (min-width: 576px) {
  .about-img {
    display: inline-block;
    height: 100%;
    width: auto;
    border-radius: 50%;
  }
}

.about-data {
  line-height: 0.5;
}
@media only screen and (min-width: 576px) {
  .about-data {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
}

.about-text h2 {
  font-size: 3rem;
}

.about-text h4 {
  font-size: 20px;
  font-weight: 600;
  color: 3rem;
  line-height: 1.7;
}

.about-text p {
  font-size: 10px;
  line-height: 1.5;
  margin-top: 5px;
}
@media only screen and (min-width: 576px) {
  .about-text p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.8;
    font-family: Times New Roman, Times;
  }
}

.skills {
  position: relative;
  height: 100vh;
  width: 100%;
}

.div-skills {
  width: 80vw;
  height: 63vh;
  margin-top: 10vh;
  left: 10vw;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.sk {
  width: 25%;
  min-width: 38px;
  border-radius: 8px;
  transition: 200ms ease;
}
.sk:hover {
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
  transform: scale(1.2);
  transform-origin: center;
}
@media only screen and (min-width: 576px) {
  .sk {
    width: 10%;
  }
}

.projects {
  position: relative;
  height: 100vh;
  width: 100%;
}

.div-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 576px) {
  .div-projects {
    flex-direction: row;
    position: relative;
    gap: 4rem;
    width: 80vw;
    height: 80vh;
    font-size: max(1vw, 10px);
    top: 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  height: 35vh;
  width: 90%;
  margin-bottom: 20px;
}
.project .pr-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: right;
}
.project .pr-div .div-img {
  width: 40vw;
}
.project .pr-div .div-img .video-img {
  width: 100%;
  height: auto;
}
.project .pr-div .div-img .craft-img {
  width: 50%;
  height: auto;
}
@media only screen and (min-width: 576px) {
  .project {
    height: 75vh;
    width: 35vw;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    font-size: min(2vw, 1rem);
  }
  .project .pr-div {
    flex-direction: column;
    text-align: center;
  }
  .project .pr-div h2 {
    margin-bottom: 5%;
  }
  .project .pr-div .div-img {
    height: 27vh;
    width: 100%;
  }
  .project .pr-div .div-img .craft-img {
    width: auto;
    height: 100%;
  }
  .project .pr-div .div-img .video-img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
}

.background {
  position: relative;
  height: 100vh;
  width: 100%;
}

.div-background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  font-size: 10px;
}
.div-background img {
  height: 10vh;
  width: auto;
}
@media only screen and (min-width: 576px) {
  .div-background {
    position: relative;
    flex-direction: row;
    gap: 3rem;
    width: 75vw;
    height: 75vh;
    top: 3vh;
  }
}

.backgr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
  font-size: 10px;
  margin-bottom: 8px;
}
.backgr .bg-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}
.backgr .bg-div h2 {
  font-size: 12px;
  text-align: left;
}
@media only screen and (min-width: 576px) {
  .backgr {
    position: relative;
    font-size: max(1vw, 10px);
    text-align: center;
    gap: 0.5rem;
    width: 30%;
    min-width: 140px;
    height: 70vh;
    border-radius: 2vw;
    padding: 2vw;
    background-color: rgb(46, 46, 46);
  }
  .backgr .bg-div {
    flex-direction: column;
  }
  .backgr .bg-div h2 {
    font-size: max(1.5vw, 10px);
    margin-bottom: 15px;
    text-align: center;
  }
  .backgr .bg-div .soyHenry-img {
    width: 90%;
    height: auto;
  }
  .backgr .bg-div .efset-img {
    width: 70%;
    height: auto;
  }
  .backgr .bg-div .unsj-img {
    width: 70%;
    height: auto;
  }
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
}
.contact .div-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 96%;
  top: -2vh;
  font-size: 1.1rem;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts {
    flex-direction: row;
    gap: 3rem;
    width: 85vw;
    top: 4vh;
  }
}
.contact .div-contacts .links {
  border-radius: 1vw;
  height: 50%;
  width: 100%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links {
    box-sizing: border-box;
    text-align: left;
    height: 100%;
    width: 50%;
    gap: 1rem;
    color: #fff;
    border: 1px solid rgb(79, 79, 79);
  }
}
.contact .div-contacts .links .link-title {
  font-size: 8px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-title {
    width: 80%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.contact .div-contacts .links .link-div {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact .div-contacts .links .link-div .link-button {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(79, 79, 79);
  font-size: 0.75rem;
}
.contact .div-contacts .links .link-div .link-button img {
  height: 80%;
  top: 10%;
}
.contact .div-contacts .links .link-div .link-button .yahoo-p {
  font-size: max(2vw, 5px);
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .link-button .yahoo-p {
    font-size: min(1vw, 14px);
  }
}
.contact .div-contacts .links .link-div .link-button .github {
  border: 1px solid white;
}
.contact .div-contacts .links .link-div .link-button .resume-text {
  font-size: max(2vw, 10px);
}
.contact .div-contacts .links .link-div .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 0.2px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .form {
    height: 100%;
    gap: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.contact .div-contacts .links .link-div .form .form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 7px;
  height: 50%;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .form .form-block {
    font-size: 3vh;
  }
}
.contact .div-contacts .links .link-div .form .form-in {
  box-sizing: border-box;
  font-size: 2vw;
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid rgb(79, 79, 79);
  background-color: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .form .form-in {
    font-size: 0.8rem;
  }
}
.contact .div-contacts .links .link-div .form .textarea {
  height: 200px;
  margin-bottom: 2vh;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .form .textarea {
    height: 500px;
  }
}
.contact .div-contacts .links .link-div .form .button {
  margin: 0;
  cursor: pointer;
  border: 1px solid rgb(255, 39, 39);
  height: 15px;
  font-size: 10px;
}
@media only screen and (min-width: 576px) {
  .contact .div-contacts .links .link-div .form .button {
    height: 15vh;
    font-size: max(1vw, 12px);
  }
}
.contact .div-contacts .links .link-div .form input {
  height: 5vh;
}

/*# sourceMappingURL=style.css.map */
