@use "variables";
@use "mixinsfunc";
@use "general";
@use "breakpoints";


.about{
    position: relative;
    width: 100%;
    @include mixinsfunc.create-flexbox(row, center);
    @include breakpoints.display-large{
        align-items: flex-start;
    }
}

.about-text {
    @include mixinsfunc.create-flexbox(column, space-between);

    width: 80vw;
    min-width: 190px;
    gap: .1rem;
    // padding: 10px 0;
    // margin-top: 5vh;
    // overflow-y: scroll;
    // background-color: blue;
    @include breakpoints.display-large{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
        width: 60vw;
        // height: 60vh;
        min-width: 500px;
        gap: 1rem;
    }
}

.about-img{
    display: none;
    @include breakpoints.display-large{
        display: inline-block;
        height: 60%;
        width: auto;
        border-radius: 50%;
    }
}

.about-data {
    line-height: .5;
    @include breakpoints.display-large{
        height: 100%;
        width: 100%;
        @include mixinsfunc.create-flexbox(column, space-between);
        align-items: flex-start;
    }
}

.about-text h2{
    font-size: variables.$h2-font-size;
}

.about-text h4{
    font-size: 20px;
    font-weight: 600;
    color: variables.$h2-font-size;
    line-height: 1.7;
}

.about-text p{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
    @include breakpoints.display-large{
        color: variables.$second-text-color;
        font-size: 2.8vh;
        line-height: 4vh;
        font-family: Times New Roman, Times;
    }
}