@use 'variables' as v;
@use 'mixinsfunc';
@use 'general';
@use 'breakpoints';


.background{
    position: relative;
    padding-top: calc(v.$mobile-NavBar-height + 30px);
    flex-direction: column;
    width: 100%;
}

.div-background{
    @include mixinsfunc.create-flexbox(column, space-evenly);
    width: 90vw;
    font-size: 10px;
    gap: 1rem;
    img{
        height: 10vh;
        width: auto;
    }
    @include breakpoints.display-large{
        position: relative;
        flex-direction: row;
        gap: 3rem;
        width: 75vw;
        height: 75vh;
        top: 3vh;
    }
}

.backgr{
    @include mixinsfunc.create-flexbox(column, space-evenly);
    height: 25vh;
    width: 100%;
    font-size: 10px;
    margin-bottom: 8px;
    .bg-div{
        @include mixinsfunc.create-flexbox(row, space-between);
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
        h2{
            font-size: v.$mobile-h2-font-size;
            text-align: left;
        }
    }
    @include breakpoints.display-large{
        position: relative;
        font-size: max(#{1vw},#{10px});
        text-align: center;
        gap: .5rem;
        width: 30%;
        min-width: 140px;
        height: 70vh;
        border-radius: 2vw;
        padding: 2vw;
        background-color: rgb(46, 46, 46);
        .bg-div{
            flex-direction: column;
            h2{
                font-size: max(#{1.5vw},#{10px});
                margin-bottom: 15px;
                text-align: center;
            }
            .soyHenry-img{
                width: 90%;
                height: auto;
            }
            .efset-img{
                width: 70%;
                height: auto;
            }
            .unsj-img{
                width: 70%;
                height: auto;
            }
        }
    }
}