@use "variables";
@use "mixinsfunc";
@use "general";
@use "breakpoints";

.background{
    position: relative;
    height: 100vh;
    width: 100%;
}
// .background-h1{
//     position: relative;
//     left: -35.3vw;
//     top: 36vh;
//     display: inline-block;
//     transform: rotate(-90deg)  scaleX(0.47);
//     font-size: 9.5rem;
//     font-weight: 700;
//     color: rgb(79, 79, 79);
//     transition: all .5s ease;
// }
.div-background{
    @include mixinsfunc.create-flexbox(column, space-evenly);
    width: 90vw;
    font-size: 10px;
    img{
        height: 10vh;
        width: auto;
    }
    @include breakpoints.display-large{
        position: relative;
        flex-direction: row;
        gap: 3rem;
        width: 75vw;
        height: 75vh;
        // left: 16vw;
        top: 3vh;
        // background-color: red;
    }
}
.backgr{
    @include mixinsfunc.create-flexbox(column, space-evenly);
    height: 25vh;
    font-size: 8px;
    margin-bottom: 10px;
    .bg-div{
        @include mixinsfunc.create-flexbox(row, space-between);
        width: 100%;
        h2{
            font-size: 12px;
            text-align: left;
        }
    }

    @include breakpoints.display-large{
        position: relative;
        font-size: max(#{1vw},#{10px});
        // flex-direction: column;
        text-align: center;
        gap: .5rem;
        width: 30%;
        min-width: 140px;
        height: 70vh;
        border-radius: 2vw;
        padding: 2vw;
        background-color: rgb(46, 46, 46);
        .bg-div{
            flex-direction: column;
            h2{
                font-size: max(#{1.5vw},#{10px});
                margin-bottom: 15px;
                text-align: center;
            }
            .soyHenry-img{
                width: 90%;
                height: auto;
            }
            .efset-img{
                width: 70%;
                height: auto;
            }
            .unsj-img{
                width: 70%;
                height: auto;
            }
        }
    }
}