@use "variables";
@use "mixinsfunc";
@use "general";
@use "breakpoints";


.contact{
    position: relative;
    height: 100vh;
    width: 100%;
    .div-contacts{
        position: relative;
        @include mixinsfunc.create-flexbox(column, space-evenly);
        height: 75vh;
        width: 96%;
        top: -2vh;
        font-size: 1.1rem;
        @include breakpoints.display-large{
            flex-direction: row;
            gap: 3rem;
            width: 85vw;
            top: 4vh;
        }
        .links{
            border-radius: 1vw;
            height: 50%;
            width: 100%;
            margin-bottom: 2vh;
            @include mixinsfunc.create-flexbox(column, center);
            @include breakpoints.display-large{
                box-sizing: border-box;
                text-align: left;
                height: 100%;
                width: 50%;
                gap: 1rem;
                color: variables.$text-color;
                border: 1px solid variables.$grey-color;
            }
            .link-title{
                font-size: 8px;
                margin-bottom: 8px;
                @include breakpoints.display-large{
                    width: 80%;
                    text-align: center;
                    margin-bottom: 2%;
                    font-size: 3vh;
                    @include mixinsfunc.create-flexbox(row, space-between);
                }
            }
            .link-div{
                height: 80%;
                width: 80%;
                @include mixinsfunc.create-flexbox(column, space-between);
                .link-button{
                    height: 20%;
                    width: 100%;
                    @include mixinsfunc.create-flexbox(row, space-evenly);
                    border-radius: 5px;
                    cursor: pointer;
                    border: 1px solid variables.$grey-color;
                    font-size: .75rem;
                    img{
                        height: 80%;
                        top: 10%;
                    }
                    .yahoo-p{
                        font-size: max(#{2vw}, #{5px});
                        @include breakpoints.display-large{
                            font-size: min(#{1vw}, #{14px});
                        }
                    }
                    .github{
                        border: 1px solid white;
                    }
                    .resume-text{
                        font-size: max(#{2vw}, #{10px});
                    }
                }
                .form{
                    @include mixinsfunc.create-flexbox(column, space-between);
                    position: relative;
                    gap: .2px;
                    width: 100%;
                    height: 100%;
                    @include breakpoints.display-large{
                        height: 100%;
                        gap: .5rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .form-block{
                        width: 100%;
                        @include mixinsfunc.create-flexbox(column, space-between);
                        font-size: 7px;
                        height: 50%;
                        @include breakpoints.display-large{
                            font-size: 3vh;
                        }
                    }
                    .form-in{
                        box-sizing: border-box;
                        font-size: 2vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 5px;
                        border: 1px solid variables.$grey-color;
                        background-color: variables.$bg-color;
                        color: variables.$text-color;
                        font-family: Arial, Helvetica, sans-serif;
                        @include breakpoints.display-large{
                            font-size: .8rem;
                        }
                    }
                    .textarea{
                        height: 200px;
                        margin-bottom: 2vh;
                        @include breakpoints.display-large{
                            height: 500px;
                        }
                    }
                    .button{
                        margin: 0;
                        cursor: pointer;
                        border : 1px solid variables.$main-color;
                        height: 15px;
                        font-size: 10px;
                        @include breakpoints.display-large{
                            height: 15vh;
                            font-size: max(#{1vw},#{12px});
                        }
                    }
                    input{
                        height: 5vh;
                    }
                }
            }
        }
    }
}