@use "variables";
@use "mixinsfunc";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: variables.$bg-color;
    color: variables.$text-color;
    // background-color: yellow;
}
a {
    color: variables.$main-color;
}
span{
    color: variables.$main-color;
}
section{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    // transition: all .5s ease;
    @include mixinsfunc.create-flexbox(row, center);
    // background-color: grey;
}
.favicon{
    border-radius: 50%;
}