@use 'variables' as v;
@use 'general';
@use 'mixinsfunc';
@use 'breakpoints';


header{
    position: fixed;
    width: 100%;
    height: v.$mobile-NavBar-height;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: v.$bg-color;
    @include breakpoints.display-large{
        height: 70px;
    }    
}

.nav{
    @include mixinsfunc.create-flexbox(row, space-between);
    // height: 50px;
    @include breakpoints.display-large{
        height: 70px;
    }
}

.logo{
    color: v.$text-color;
    font-size: min(#{7vw}, #{20px});
    font-weight: 700;
    letter-spacing: 1px;
    width: 80%;
    line-height: 50px;
    padding-left: 5vw;
    @include breakpoints.display-large{
        color: v.$text-color;
        font-size: max(#{3vw}, #{18px});
        font-weight: 700;
        letter-spacing: 0.2vw;
        padding-left: 2vw;
        width: 31%;
        line-height: 70px;
    }
}

.navlist{
    box-sizing: border-box;
    @include mixinsfunc.create-flexbox(column, space-evenly);
    background-color: v.$second-bg-color;
    position: fixed;
    padding: 20px 0 60px;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    right: -100%;
    transition: left 0.3s;
    @include breakpoints.display-large{
        justify-content: space-between;
        position: relative;
        flex-direction: row;
        padding: 0 4vw;
        width: 60%;
        height: 70px;
        right: 0;
        top: 0;
        background-color: v.$bg-color;
    }
    a{
        color: v.$second-text-color;
        font-size: 16px;
        font-weight: 500;
        transition: all .45s ease;
        &:hover{
            color: v.$main-color;
            width: auto;
        }
        @include breakpoints.display-large{
            font-size: max(#{1vw}, #{10px});
        }
        &:active{
            color: v.$active-color;
            transition: all 0s;
        }
    }
}

.toggleButton{
    display: inline-block;
    background: none;
    border: none;
    width: 20px;
    margin-right: 30px;
    @include breakpoints.display-large{
        display: none;
    }
}

#menu-icon{
    font-size: 35px;
    width: 5vw;
    color: red;
    z-index: 1000;
    cursor: pointer;
    margin-right: 10%;
}

.navlist_visible{
    left: 0;
    @include breakpoints.display-large{
    }
}

    

 

