@use "variables";
@use "general";
@use "mixinsfunc";
@use "breakpoints";

// .home{
//     position: relative;
//     height: 100vh;
//     width: 100%;
// }
// .home-h1{
//     position: absolute;
//     width: 20px;
//     height: 30vw;
//     // left: -12vw;
//     // top: 35vh;
//     display: inline-block;
//     // transform: rotate(-45deg);
//     font-size: 9.5rem;
//     font-weight: 700;
//     color: rgb(79, 79, 79);
//     transition: all .5s ease;
//     background-color: blue;
// }
.home-text{
    @include mixinsfunc.create-flexbox(column, space-between);
    margin-top: 5vh;
    height: 300px;
    width: 60vw;
    min-width: 500px;
    gap: 1rem;
    // background-color: green;
    @include breakpoints.display-small{
        // background-color: aqua;
        @include mixinsfunc.create-flexbox(row, space-between);
        margin-top: 5%;
        height: 300px;
        width: 60vw;
        min-width: 500px;
        gap: 1rem;
    }
    
    .home-small{
        height: 300px;
        @include mixinsfunc.create-flexbox(column, space-between);
        align-items: flex-start;
        h1{
            font-size: 5rem;
            font-weight: 700;
            color: variables.$text-color;
            max-width: 100%;
        }
        h3{
            color: variables.$text-color;
            font-size: 2rem;
            font-weight: 700;
        }
        span{
            font-size: 2rem;
            font-weight: 700;
            max-width: 100%;
        }
    }
    img{
        height: 100%;
        width: auto;
        border-radius: 20px;
    }
    
}
.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    background: variables.$main-color;
    color: variables.$text-color;
}
.two{
    display: inline-block;
    color: variables.$second-text-color;
    font-size: 25px;
    font-weight: 500;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px;
    background: variables.$main-color;
    border-radius: 10px;
    color: variables.$text-color;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .5s ease;
}
.btn:hover{
    transform: scale(1.1)
}