@use "variables";
@use "general";
@use "mixinsfunc";
@use "breakpoints";

// .home{
//     position: relative;
//     height: 100vh;
//     width: 100%;
// }
.home-h1{
    position: absolute;
    width: 20px;
    height: 30vw;
    // left: -12vw;
    // top: 35vh;
    display: inline-block;
    // transform: rotate(-45deg);
    font-size: 9.5rem;
    font-weight: 700;
    color: rgb(79, 79, 79);
    transition: all .5s ease;
    background-color: blue;
}
.home-text{
    // position: absolute;
    height: 50vh;
    width: 60vw;
    min-width: 400px;
    @include mixinsfunc.create-flexbox(row, space-between);
    @include breakpoints.display-small{
        background-color: green;
    }
    gap: 1rem;
    @include breakpoints.display-tiny{
        background-color: red;
    }
    // left: 22%;
    top: 28vh;
    // background-color: blue;
    .home-data{
        width: 50vw;
        height: 60vh;
        @include mixinsfunc.create-flexbox(column, space-evenly);
        align-items: flex-start;
        gap: 2vw;
        // background-color: grey;
        // align-content: flex-start;
        h1{
            font-size: variables.$big-font-size;
            font-weight: 700;
            color: variables.$text-color;
            flex: 1;
            flex-shrink: 1;
            max-width: 100%;
            // line-height: 2;
            // margin: 0 0 8px;
        }
        h3{
            color: variables.$text-color;
            // margin: 0 0 35px;
            font-size: 2rem;
            font-weight: 700;
            // line-height: 3;
            // flex: 1;
            // flex-shrink: 1;
            // max-width: 100%;
            width: max-content;
        }
        span{
            font-size: 3vw;
            font-weight: 700;
            flex: 1;
            flex-shrink: 1;
            max-width: 100%;
        }
    }
    img{
        height: 60vh;
        border-radius: 5px;
    }

}
// .slide{
//     margin-bottom: 20px;
// }
.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    background: variables.$main-color;
    color: variables.$text-color;
}
.two{
    display: inline-block;
    color: variables.$second-text-color;
    font-size: 25px;
    font-weight: 500;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px;
    background: variables.$main-color;
    border-radius: 10px;
    color: variables.$text-color;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .5s ease;
}
.btn:hover{
    transform: scale(1.1)
}