@use 'variables' as v;
@use 'general';
@use 'mixinsfunc';
@use 'breakpoints';


.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    .home-text{
        @include mixinsfunc.create-flexbox(column, space-between);
        padding-bottom: 2vh;
        height: 80vh;
        width: 90vw;
        gap: .1rem;
        margin-top: -3vh;
        @include breakpoints.display-large{
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 5%;
            height: 300px;
            width: 100vw;
            .home-small{
                @include mixinsfunc.create-flexbox(column, space-evenly);
                height: 40vh;
                line-height: .7;
                @include breakpoints.display-large{
                    align-items:flex-start;
                }
                .hello{
                    display: inline-block;
                    margin-right: 15px;
                    padding: 10px 15px;
                    font-size: 20px;
                    font-weight: 500;
                    border-radius: 5px;
                    background: v.$main-color;
                    color: v.$text-color;
                    @include breakpoints.display-large{
                        font-size: 25px;
                        font-weight: 500;
                        border-radius: 5px;
                        background: v.$main-color;
                        color: v.$text-color;
                    }
                }
                .im{
                    display: inline-block;
                    color: v.$second-text-color;
                    font-size: 20px;
                    font-weight: 500;
                    @include breakpoints.display-large{
                        font-size: 25px;
                    }
                }
                h1{
                    font-size: 30px;
                    @include breakpoints.display-large{
                        font-size: 3rem;
                        font-weight: 700;
                        color: v.$text-color;
                        max-width: 100%;
                    }
                }
                h3{
                    font-size: 1rem;
                    @include breakpoints.display-large{
                        color: v.$text-color;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                span{
                    font-size: 1rem;
                    @include breakpoints.display-large{
                        font-size: 2rem;
                        font-weight: 700;
                        max-width: 100%;
                    }
                }
                img{
                    height: 40vh;
                    width: auto;
                    border-radius: 10px;
                    @include breakpoints.display-large{
                        height: 100%;
                        width: auto;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}