@use "variables";
@use "mixinsfunc";
@use "general";
@use "breakpoints";


.projects{
    position: relative;
    height: 100vh;
    width: 100%;
}

.div-projects{
    @include mixinsfunc.create-flexbox(column, space-evenly);
    gap: 1rem;
    @include breakpoints.display-large{
        flex-direction: row;
        position: relative;
        gap: 4rem;
        width: 80vw;
        height: 80vh;
        font-size: max(#{1vw}, #{10px});
        top: 0;
    }
}

.project{
    @include mixinsfunc.create-flexbox(column, space-between);
    font-size: 15px;
    height: 35vh;
    width: 90%;
    margin-bottom: 20px;
    .pr-div{
        a{
            color: variables.$main-color;
        }
        @include mixinsfunc.create-flexbox(row, space-between);
        width: 100%;
        text-align: right;
        .div-img{
            width: 40vw;
            .video-img{
                width: 100%;
                height: auto;
            }
            .craft-img{
                width: 50%;
                height: auto;
                
            }
            .explo-img{
                background-color: white;
                padding: 1vw;
                width: 80%;
                height: auto;

            }
        }
    }
    @include breakpoints.display-large{
        height: 75vh;
        width: 35vw;
        border-radius: 10px;
        box-sizing: border-box;
        border: none;
        font-size: min(#{2vw},#{1rem});
        .pr-div{
            flex-direction: column;
            text-align: center;
            h2{
                margin-bottom: 5%;
            }
            .div-img{
                height: 27vh;
                width: 100%;
                .craft-img{
                    width: auto;
                    height: 100%;
                }
                .video-img{
                    width: auto;
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

