@use "variables";
@use "mixinsfunc";
@use "general";
@use "breakpoints";

.projects{
    position: relative;
    height: 100vh;
    width: 100%;
}
// .projects-h1{
//     position: relative;
//     left: -24vw;
//     top: 36vh;
//     display: inline-block;
//     transform: rotate(-90deg)  scaleX(0.65);
//     font-size: 9.5rem;
//     font-weight: 700;
//     color: rgb(79, 79, 79);
//     transition: all .5s ease;
// }
.div-projects{
    @include mixinsfunc.create-flexbox(column, space-evenly);

    @include breakpoints.display-large{
        flex-direction: row;
        position: relative;
        gap: 4rem;
        width: 80vw;
        height: 80vh;
        font-size: max(#{1vw}, #{10px});
        top: 0;
        // background-color: grey;
    }
}
.project{
    @include mixinsfunc.create-flexbox(column, space-between);
    font-size: 10px;
    height: calc(100vh - 80px);
    width: 90%;
    margin-bottom: 20px;
    // border-bottom: 1px solid variables.$main-color;
    .div-img{
        width: 70vw;
        & img{
            width: 100%;
            height: auto;
        }
    }
    @include breakpoints.display-large{
        height: 75vh;
        width: 45vw;
        border-radius: 10px;
        box-sizing: border-box;
        border: none;
        text-align: center;
        font-size: 2vw;
        & h2{
            margin-bottom: 5%;
        }
        .div-img{
            // width: auto;
            height: 27vh;
            // & img{
            //     width: 100%;
            //     height: auto;
            // }
            .craft-img{
                width: auto;
                height: 100%;
            }
            .video-img{
                width: auto;
                height: 100%;
            }
        }
    }
}

